doctype html5
html
    head
        title WebdriverIO Example
        block headScripts
    body
        block body
            block header
                h1 WebdriverIO Example
            block content
            block footer
